<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin login</title>
</head>
<body><h3>enter admin password</h3>
    <form action="" method="post">
        <input name="password" placeholder="password" type="password" required>
        <input type="submit" value="submit" onclick="" class="app-form-button">
        
    </form>
</body>
</html>