<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sri maruthi pharma</title>
    <link rel="stylesheet" href=".\static\p1.css">
</head>
<body>

  <div id="bk">
    
  <img  id="img" src=".\static\img.jpg" alt="   " >
  
  <img id="img2" src=".\static\SMP.png" alt="   ">
  <a  id="button" href="#st"> <b>Read more </b> </a>
  
  
  <div id="st" >
    <h2 id="over">Overview </h2>
<p id="pa">
  Sri Maruthi Pharma in Bangalore is one of the leading businesses in Surgical Equipment dealers. <br> Also known for Surgical 
  equipment Dealers, Pharamacetical product distributors, <br> meadical equipment Dealers, Pharamacetical distributors, Surgical item dealers,  medican distributors, meadical product dealers, generic medicine wholesealers and much more
</p>
  </div>
  <div id="nd" > 
    <p id="del"> <b> We are dealers in </b> </p> 
 
    
    <p id="l1"> 
      *Chemists <br><br> 
      *Surgical equipment dealers<br><br>
      *Pharmaceutical product distributors<br><br>
      *Medical equipment dealers<br><br>
      *Pharmaceutical distributors<br><br>
      *Pharmaceutical product manufactures
    </p>
    <p id="l2">
      *Medicine wholesealers<br><br>
      *Surgical face mask dealers<br><br>
      *N95 face mask dealers<br><br>
      *Medicine distributors<br><br>
      *Generic medicine distributors<br><br>
      *Pharmaceutical product wholesealers 
    </p>
    <p id="l3">and much more</p>
    
  </div>
    
      
  <ul>
    <li id="smp"><h2>Sri Maruthi Pharma</h2></li>
            <li><a href="adminlogin.html" alt ="_blank">admin </a></li>
            <li><a href="p2.html" alt ="_blank">About Us </a></li>
            <li><a href="p4.html">Contact Us</a></li>
            <li><a href="p1.html" >Home</a></li>
          </ul>
          <a id="wa" href="http://wa.me/7353009990" target="_blank">
            <img   src=".\static\6.png" alt=" 404 ERROR" width="60" height="60">
            <span class="tooltiptext">chat with us <br>and get quotation as soon as possible </span>             
          </a>
            
</body>
</html>
