<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sri maruthi pharma</title>
    <link rel="stylesheet" href="p2.css">
</head>
<body>

<div id="ra">
  <div id="rb">
  <img src="SMP.png" alt="  " id="logo">
  </div>
  <div id="rc">
    <h2 id="sri">SRI MARUTHI PHRAMA </h2>
</div>

<div id="rd">
  <p id="rd1">
    SMP is a company, established under mission of service to humanity, we provide a wide range of pharmaceuticals and we are building a reputation of quality and integrity known around the world. <br><br> 
    The products that we supply at SMP meets the best safety and quality standards.We are being audited regularly by officials to ensure that the highest safety and quality criteria were met.
  </p>
</div>


<q id="re1">Medicine is a science of uncertainty and the art of probabailty</q>
</div>
  <div id="rf" >
    <div id="rf1">
      <p><h4>Address:</h4>
        <address>
          Sri Maruthi Pharma, <br>
          Chamrajpet,<br>
           Bangalore- 560018 <br> India
        </address>
      </p>
    </div>
  
    <div id="rf2">
 
      Contact:910000000000 <br><br>
     
      Email:bonic@gmail.com
   
    </div>
  </div>











    <ul>
    <li id="smp"><h2>Sri Maruthi Pharma</h2></li>
            <li><a href="p2.html" alt ="_blank">About Us </a></li>
            <li><a href="p4.html">Contact Us</a></li>
            <li><a href="p1.html" >Home</a></li>
          </ul>
       <a id="wa" href="http://wa.me/7353009990" target="_blank">
            <img   src="6.png" alt=" 404 ERROR" width="60" height="60">
            <span class="tooltiptext">chat with us <br>and get quotation as soon as possible </span>             
          </a>
</body>
</html>